.styled-table {
    border-collapse: collapse;
    margin: 30px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    max-width: 1800px;
    box-shadow: 00 10px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #f76c6c;
    color: #ffffff;
    text-align: left;
}


.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color:#f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #f76c6c;
}

.btn {
        border: none;
        color: white;
        padding: 5px 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 5px;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
}

.btn-edit {
        background-color: #008cba;
}

.btn-delete {
        background-color: #f44336;
        
}

.btn-view {
        background-color: #e7e7e7;
        color: black;
}


.inputField {
    width: 30% !important;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 30px;
    border-radius: 5px;
    font-size: 15px;
}

.dropdown{
    width: 20%;
    margin: 10px;
}

.btn-reset{
    background-color: rgb(28, 160, 116);
    color: black;
}

.btn-reset:hover{
    background-color: rgb(8, 102, 71);
}

